.navbar {
    z-index: 999;
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 0 lightgray;
    height: 80px;
    width: 100%;
    position: sticky;
        top: 0;
}

.navbar .logo {
    height: 80px;
    margin-top: 0px;
    cursor: pointer;
}

.admin-links {
    display: block;
    position: absolute;
    right: 250px;
}

.admin-log {
    position: relative;
    border: 1px solid #007cc3;
    cursor: pointer;
    border-radius: 20px;
    background-color: white;
    color: #007cc3;
    font-size: 14px;
    height: 22px;
    width: 120px;
    margin: 0 10px;
    top: 40px;
    font-weight: 600;
}

.lang-1, .lang-2 {
    height: 22px;
    top: 40px;
    position: absolute;
    cursor: pointer;
}

.lang-1 {
    right: 150px;
}

.lang-2 {
    right: 190px;
}

.cart-button {
    background-color: rgb(223, 73, 19);
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    margin: 20px 10px;
    padding: 10px;
    border-radius: 10px;
   
}

.cart-button img {
    height: 20px;
    padding-right: 10px;

}

.cart-button:hover {
    background-color: rgb(241, 79, 4);
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 10px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }