<button class="main-button back" routerLink="/admin">{{'Tagasi' | translate}}</button>

<form (ngSubmit)="onSubmit(addItemForm)" #addItemForm="ngForm">
    <label>Nimetus</label>
    <input type="text" ngModel name="title" placeholder="Toote nimetus" required maxlength="30"><br>
    <label>Pilt</label>
    <input type="text" ngModel name="imgSrc" placeholder="Toote pilt" required><br>
    <label>Hind</label>
    <input type="number" ngModel name="price" placeholder="Toote hind" required><br>
    <label>Kategooria</label>
    <input type="text" ngModel name="category" placeholder="Toote kategooria" required><br>
    <label>Ribakood</label>
    <input type="number" ngModel name="barcode" placeholder="Toote ribakood" required><br>
    <label>Kirjeldus</label>
    <input type="text" ngModel name="description" placeholder="Toote kirjeldus" required><br>
    <label>Päritolumaa</label>
    <input type="text" ngModel name="producer" placeholder="Toote päritolumaa" required><br>
    <button class="main-button add" [disabled]="addItemForm.invalid" type="submit">Lisa ese</button>
</form>
<br><br><br>

