.item-count {
    margin-left: 10%;
}

.empty-cart-button {
    position: absolute;
    right: 10%;
    top: 120px;
    float: right;
    color: #007cc3;
    background: 0 0;
    border-style: none;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.your-cart {
    position: absolute;
    left: 10%;
    top: 120px;
    float: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.item {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    margin: 30px 10%;
    border-bottom: 1px solid lightgrey;
}

.item-img {
    height: 100px;
    width: 100px;
}

.item-img:hover {
    cursor: pointer;
}

.item-title {
    width: 300px;
    margin-top: 20px;
}

.item-price {
    width: 100px;
    margin-top: 30px;
}

.add-to-cart-button {
  
    margin-top: 20px;
    display: flex;
}

.add-to-cart-button div {
    margin-top: 12px;
    width: 40px;
    text-align: center;
}

.delete-from-cart-button {
    margin-top: 20px;
    height: 40px;
    width: 30px;
    cursor: pointer;
    opacity: 0.7;
}

.delete-from-cart-button:hover {
    opacity: 1.1;
    transition: .5s;
}

.sum-of-cart {
    position: absolute;
    right: 10%;
    font-size: 20px;
    margin-top: 20px;
}

.empty-cart {
    position: relative;
    text-align: center;
}

.empty-cart img {
    position: absolute;
    top: 50px;
    width: 300px;
    left: 550px;
    opacity: 0.3;
}

.empty-cart div {
    position: absolute;
    color: white;
    width: 150px;
    top: 150px;
    left: 650px;
    font-size: 20px;
    font-weight: 600;
}

.cont-btn {
    position: absolute;
    height: 60px;
    top: 150px;
    background-color: white;
    border: 1px solid rgb(223, 73, 19);
    padding: 5px 26px;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #007cc3;
    font-weight: 600;
}

.cont-btn:hover {
    transition: .5s;
    background-color: #007cc3;
    color: #f8f8f8;
    border: #f8f8f8;
}