<div class="empty-cart-button" (click)="onEmtyCart ()" 
*ngIf="cartItems.length > 0">Tühjenda ostukorv</div>  

<div class="your-cart">Sinu ostukorv</div>

<div class="items-wrapper">
    <div class="item" *ngFor="let item of cartItems; let i = index">
        <img class="item-img" routerLink="/view/{{ item.cartItem.id}}" src="{{ item.cartItem.imgSrc }}">
        <div class="item-title" >{{ item.cartItem.title | shortenTitle}}<br><br>
            <div *ngIf="item.cartSize">Suurus: {{ item.cartSize }}</div></div>
        <div class="item-price" >€ {{ item.cartItem.price | thousandSeparator}}</div>
        <span class="add-to-cart-button">
            <span (click)="onRemoveFromCart(item)"><img src="assets/minus.svg"></span>
            <div>{{ item.count }} tk </div>
            <span (click)="onAddToCart(item)"><img src="assets/plus.svg"></span>
        </span>
        <div class="item-price">€ {{ item.count * item.cartItem.price | thousandSeparator }}</div>
        <img class="delete-from-cart-button" (click)="onDeleteFromCart(i)" src="assets/x-mark.svg">
    </div>
</div>

<div class="sum-of-cart" *ngIf="cartItems.length > 0">
    <div>
        <span class="count-of-cart">{{ countOfCart }} 
            <span *ngIf="countOfCart > 1">toodet</span>
            <span *ngIf="countOfCart == 1">toode</span> 
        </span>
    </div>
</div><br><br>

<div class="sum-of-cart"
*ngIf="cartItems.length > 0">KOKKU: € {{ sumOfCart | thousandSeparator }}</div>



<div class="empty-cart" *ngIf="cartItems.length == 0">
    <img src="assets\shopping-cart-empty.svg" alt="Cart">
    <div>Teie ostukorv on tühi</div>
    <button class="cont-btn" routerLink="">Jätka shoppamist</button>
</div>