<div class="emty-cart-button" (click)="onEmtyCart ()" 
*ngIf="cartItems.length > 0">Tühjenda ostukorv</div>  

<div class="items-wrapper">
    <div class="item" *ngFor="let item of cartItems; let i = index">
        <img src="{{ item.imgSrc }}">
        <div class="item-title" >{{ item.title }}</div>
        <div class="item-price" >€ {{ item.price.toFixed(2) }}</div>
        <!--<div>{{ item.category }}</div>-->
        <img class="delete-from-cart-button" (click)="onDeleteFromCart(i)" src="assets/x-mark.svg" alt="">
    </div>
</div>

<div class="sum-of-cart"
*ngIf="cartItems.length > 0">KOKKU:€ {{ sumOfCart.toFixed(2) }}</div>

<div class="emty-cart" *ngIf="cartItems.length == 0">
    <img src="assets\emty-cart.png" alt="Cart">
    <div>Teie ostukorv on tühi</div>
</div>