<!--{{ kuupaev | date:'mediumDate' }}-->
<!--{{ 1500000 | currency:'EUR' }}-->

<div *ngFor="let category of itemsOriginal | uniqueCategory; let i = index">
    <input (click)="onSelectCategory(i)" hidden type="checkbox" id="{{category}}">
    <label for="{{category}}" [ngClass]="{'category-active': itemCategories[i].isSelected}">{{category}}</label>
</div>

<div class="filter-bar">
    <div class="filter-name">{{ 'Järjesta:' | translate | uppercase }}</div>
    <div class="filter-value title" (click)="onSortTitle()">{{ 'Tähestiku järgi' | translate }}</div>
    <div class="filter-value price" (click)="onSortPrice()">{{ 'Hinna järgi' | translate }}</div>
</div>


<div class="items-wrapper">    
    <div class="item" *ngFor="let item of itemsShown; let i = index">
        <img routerLink="view/{{i}}" src="{{ item.imgSrc }}">
        <div class="add-to-cart-button-wrapper">
            <div class="add-to-cart-button">
                <span (click)="onRemoveFromCart(item)">-</span>
                <span>____tk____</span>
                <span (click)="onAddToCart(item)">+</span>
            </div>
        </div>
        <div class="item-title" >{{ item.title | translate | shortenTitle: 6}}</div>
        <div class="item-price" >€ {{ item.price | thousandSeparator}}</div>
        <!--<div>{{ item.category }}</div>-->
    </div>
</div>

<div *ngIf="itemsShown.length == 0 && !isLoading">Ühtegi kategooriat pole valitud, vali sobiv kategooria!</div>

<app-spinner *ngIf="isLoading"></app-spinner>