.main-link-list {
    margin: 100px 100px;
    display: flex;
    flex-wrap: wrap;

}

.main-link {
    background-color: rgb(238, 237, 237);
    border: 1px solid crimson;
    color: firebrick;
    width: 250px;
    height: 350px;
    margin: 5px 5px;
    padding: 10px 10px;
    border-radius: 0;
    text-align: center;
}

.filter-bar {
    display: flex;
}

.filter-bar div {
    margin-left: 10px;
}