<!--{{ kuupaev | date:'mediumDate' }}-->
<!--{{ 1500000 | currency:'EUR' }}-->

<div *ngFor="let category of itemsOriginal | uniqueCategory; let i = index">
    <input (click)="onSelectCategory(i)" hidden type="checkbox" id="{{category}}">
    <label for="{{category}}" [ngClass]="{'category-active': itemCategories[i].isSelected}">{{category}}</label>
</div>

<div class="filter-bar">
    <div class="filter-name">{{ 'Järjesta:' | translate | uppercase }}</div>
    <div class="filter-value title" (click)="onSortTitle()">{{ 'Tähestiku järgi' | translate }}</div>
    <div class="filter-value price" (click)="onSortPrice()">{{ 'Hinna järgi' | translate }}</div>
</div>


<div class="items-wrapper">    
    <app-item-card 
    class="item" 
    *ngFor="let itemShown of itemsShown; let i = index"
    [item]="itemShown"
    [i]="i"
    >    
    </app-item-card>
</div>

<div *ngIf="itemsShown.length == 0 && !isLoading">Ühtegi kategooriat pole valitud, vali sobiv kategooria!</div>

<app-spinner *ngIf="isLoading"></app-spinner>