<!-- {{items | json }} -->

<div class="filter-bar">
    <div>{{ 'Järjesta:' | translate }}</div>
    <div (click)="onSortTitle()">{{ 'Tähestiku järgi' | translate }}</div>
    <div (click)="onSortPrice()">{{ 'Hinna järgi' | translate }}</div>
</div>


<div class="main-link-list">    
<div *ngFor="let item of items">
    <div class="main-link">
    <div>{{ item.title }}</div>
    <div>{{ item.price }}</div>
    <img src="{{ item.imgSrc }}">
    <div>{{ item.category }}</div>
    <div (click)="onAddToCart(item)">Lisa ostukorvi</div>
</div>
</div>
</div>
